# Dependencies
node_modules/

# Extension Build output
# (User requested to commit dist folder)

# Logs & Temp files
*.log
.fuk-yt-tmp-*
temp/
logs/
bin/bin/

# Release zips
*.zip

# Local test extraction folders
test-extension/
test-engine/

# OS metadata
.DS_Store
Thumbs.db
